<footer class="footer-area w-100">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6">
                    <span class="n6-color cus-z2 position-absolute start-0 bottom-0 py-2 py-lg-10 px-3 px-lg-15">Copyright @ <span class="currentYear n6-color"></span> <a href=""><span class="n6-color">Olila</span></a></span>
                </div>
                <div class="col-lg-6 d-center justify-content-end">
                    <span class="n6-color cus-z2 position-absolute end-0 bottom-0 py-2 py-lg-10 px-3 px-lg-15">Designed By <a href="https://themeforest.net/user/pixelaxis/portfolio"><span class="n6-color">Pixelaxis</span></a></span>
                </div>
            </div>
        </div>
    </footer>