<header class="header-section desktop-menu">
        <div class="container-fluid">
            <div class="main-navbar">
                <nav class="navbar-custom">
                    <div class="d-flex nav-wrapper align-items-center justify-content-between px-3 px-md-8 px-lg-12 py-2 py-lg-4">
                        <div class="logo-area d-center">
                            <a href="" aria-label="logo" class="logo-area cus-z2">
                                <img src="assets/images/fav.png" alt="logo">
                                <img src="assets/images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="right-area d-flex align-items-center gap-2 gap-md-4">
                            <div class="btn-area d-none d-sm-block cus-z2 px-4 px-lg-6">
                                <a href="#" aria-label="Contact" class="collapse-nodes contact-us-btn move-btn fill talk d-center justify-content-end">
                                    <span class="one cus-border border b-ninth rounded-5 py-2 px-4 px-lg-6">Let’s talk</span>
                                    <span class="two cus-border border b-ninth rounded-5 d-center">
                                        <i class="iconsax transition fs-five d-center" data-icon-name="arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="navbar-toggle-wrapper d-center">
                                <button class="navbar-toggle-btn header-btn d-center gap-3" type="button">
                                    <i class="iconsax transition fs-two d-center n6-color" data-icon-name="hamburger-menu"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>